@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --main-white: #FFFFFF;
    --secundary-grey: #C0C0C0;
    --blue-button: #167BF7;
    --background: #00030C;
    --main-font: "Inter", serif;
}

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
	height: 100vh;
    font-size: 100%;
    list-style-type: none;
    background-color: var(--background);
    color: var(--main-white);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}

.primary{
    background-image: url('../assets/Background.png');
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__box{
    margin: 0 10em 0 6em; /* 0 6em; -> Topo e Bottom / Direita e esquerda */
}

.container__title{
    font-size: 28px;
    font-weight: 700;
}

.container__image{
    margin: 1.375em 0 3.375em 0; /*-> Funciona como um relógio que funciona (12h -> 3h -> 6h -> 9h) */
}

.container__button{
    background-color: var(--blue-button);
    border-radius: 8px;
    padding: 1em;
    color: var(--main-white);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.button__second{
    background-color: transparent;
    border: 1px solid var(--main-white);
}

.container__warning{
    font-size: 12px;
    color: var(--secundary-grey);
}

.secondary{
    align-items: center;
    margin: 0 12em;
}

.secondary__image{
    width: 60%;
    margin: 0 10em;
}

.description__title{
    font-weight: 700;
    font-size: 48px;
    color: var(--main-white);
    margin-bottom: 0.1em;
}

.description__paragraph{
    color: var(--secundary-grey);
}

.button__secondary{
    display: inline-block;
    margin-top: 1em;
}

.container__description{
    padding: 2em;
}